extends layout

append head
	meta(name="robots" content="noindex")

block content
	p Hi! You've reached our dev page. How on earth did you get here?
	p Because some of our testing needs a live website to work, you might see some strange things happening here from time to time. Please don't expect anything on this page to work and, if it does work, please don't expect it to stay that way.
	p To follow our progress, please visit us at #[a(href='http://www.facebook.com/CentaurMagic/') Facebook].
	p To get back to our main page, please click #[a(href='http://centaurmagic.com/') here].
