extends layout

block content
	p Welcome to #{title}.
	p At #{title} we have a passion for all things language, because we believe that language is the best way to connect with each other. We love stories that make us cry, films that make us scream at the television, and articles that make us think. We are writers, we are editors, and we are able to travel the world through the things that we read, to bring you with us through the things that we write.
	p We are also programmers, because computer languages are a great way to create new things to share with you. We believe in the power of tiny scripts and expansive software that offers the chance to change who we are and what we are capable of.
	h2 Projects
	div.gallery
		div.project
			h3 Maths Makes My Day
			a(href="http://www.mathsmakesmyday.com")
				img(src="/images/mmmd-index.png")
				img(src="/images/mmmd-practice.png")
			p Maths Makes My Day is a tutoring business based in Victoria, Australia. For this project we compiled a range resources. There are links to relevant state term calendars and curricula information for a range of subjects throughout the country. We also wrote a program for students to practice their skills in basic mathematics, as this fundamental area is lacking for many of the students that use the service.
