extends layout

block content
	p Welcome to #{title}.
	p At #{title} we have a passion for all things language, because we believe that language is the best way to connect with each other. We love stories that make us cry, films that make us scream at the television, and articles that make us think. We are writers, we are editors, and we are able to travel the world through the things that we read, to bring you with us through the things that we write.
	p We are also programmers, because computer languages are a great way to create new things to share with you. We believe in the power of tiny scripts and expansive software that offers the chance to change who we are and what we are capable of.
	p Out biggest project now is to combine these passions, and we're excited about the way it is coming together. To follow our progress, please visit us at #[a(href='http://www.facebook.com/CentaurMagic/') Facebook].
	p And please excuse the occasional mess. We're using this site for a lot of testing and development on the back end.
