doctype html
html
	head
		block head
			title= title
			link(rel='stylesheet', href='/stylesheets/style.css')
			meta(name='viewport', content='width=device-width, initial-scale=1')
	body
		h1= title
		section
			block content
		footer
			p To follow our progress, please visit us at #[a(href='http://www.facebook.com/CentaurMagic/') Facebook].
